.deck-header {
	background-color: #4a4a4a;
	color: #e2e8f0;
	border-bottom: 1px solid #5c5c5c;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.tag {
	background-color: #5c5c5c;
	color: #e2e2e2;
	border: 1px solid #718096;
}

.deck-main {
	background-color: #3a3a3a;
	color: #e2e8f0;
}
