<nav class="navbar">
	<div class="nav-container">
		<div class="logo">
			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image" />
			<span>SESHAT</span>
		</div>
		<div class="nav-items">
			<a href="/" class="nav-link {% if active_page == 'home' %}active{% endif %}">Accueil</a>
			<!-- Nouveau menu déroulant Exercices -->
			<div class="nav-link dropdown {% if active_page in ['dailies', 'exercices-free-kanji', 'exercices-free-word', 'exercices-free-radical', 'exercices-free-all'] %}active{% endif %}">
				<a class="dropdown-toggle">Exercices</a>
				<div class="dropdown-menu">
					<a href="/exercices/free-kanji">Kanji</a>
					<a href="/exercices/free-word">Deck</a>
					<a href="/exercices/free-radical">Radicaux</a>
					<a href="/exercices/free-all">Tout</a>
				</div>
			</div>
			<div class="nav-link dropdown {% if active_page in ['decks-kanji', 'decks-word', 'decks-radical'] %}active{% endif %}">
				<a class="dropdown-toggle">Decks</a>
				<div class="dropdown-menu">
					<a href="/decks/kanji">Kanjis</a>
					<a href="/decks/word">Mots</a>
					<a href="/decks/radical">Radicaux</a>
				</div>
			</div>
			<a href="/dictionary" class="nav-link {% if active_page == 'dictionary' %}active{% endif %}">Dictionnaire</a>
			<a href="/options" class="nav-link {% if active_page == 'options' %}active{% endif %}">Options</a>
		</div>
	</div>
</nav>