<!DOCTYPE html>
<html>
<head>
    <title>Configuration des Options</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <link rel="stylesheet" href="/static/css/{{options['app-color-theme']}}/main.css">
    <link rel="stylesheet" href="/static/css/{{options['app-color-theme']}}/forms.css">
</head>
<body>
    {% include "header.html" %}

    <br/>
    <h1>Paramètres de l'application</h1>
    <form method="POST" action="/api/options/save">
        {% set dailies_values = [0,5,10,15,20,30,40] %}

        <details class="section">
            <summary>Dailies</summary>

            <div class="options-group">
                <label for="radicals">Radicaux Quotidens :</label>
                <select name="radicals-dailies-amount" id="radicals">
                    {% for val in dailies_values %}
                    <option value="{{ val }}" {% if options["radicals-dailies-amount"] == val %}selected{% endif %}>
                        {{ val }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="options-group">
                <label for="kanjis">Kanjis Quotidens :</label>
                <select name="kanjis-dailies-amount" id="kanjis">
                    {% for val in dailies_values %}
                    <option value="{{ val }}" {% if options["kanjis-dailies-amount"] == val %}selected{% endif %}>
                        {{ val }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="options-group">
                <label for="words">Mots Quotidens :</label>
                <select name="words-dailies-amount" id="words">
                    {% for val in dailies_values %}
                    <option value="{{ val }}" {% if options["words-dailies-amount"] == val %}selected{% endif %}>
                        {{ val }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="options-group">
                <button type="button" onclick="resetDailies()" class="reset-button">
                    Réinitialiser les Dailies
                </button>
            </div>
        </details>

        <details class="section">
            <summary>Thèmes</summary>
            <div class="options-group">
                <label for="words">Thème de l'application :</label>
                <select name="app-color-theme" id="theme">
                    <option value="light" {% if options["app-color-theme"] == "light" %}selected{% endif %}>
                        Clair
                    </option>
                    <option value="dark" {% if options["app-color-theme"] == "dark" %}selected{% endif %}>
                        Sombre
                    </option>
                </select>
            </div>
        </details>

        <details class="section">
            <summary>Progression</summary>

            <div class="options-group">
                <button type="button" onclick="window.location.href='/api/progression/export'">Exporter la progression</button>
            </div>

            <div class="options-group">
                <button type="button" onclick="window.location.href='/api/progression/import'">Importer la progression</button>
            </div>

            <div class="options-group">
                <button type="button" onclick="window.location.href='/api/progression/reset'" class="reset-button">Réinitialiser la progression</button>
            </div>

            <div class="options-group">
                <button type="button" onclick="window.location.href='/api/database/sync'">Synchroniser la base de données</button>
            </div>
        </details>

        <button type="submit">Sauvegarder</button>
    </form>

    <script src="{{ url_for('static', filename='js/options.js') }}"></script>
</body>
</html>