.section {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    color: #2a2a2a;
}

.section summary {
    background-color: #e7e7e7;
    border-bottom-color: #ddd;
    color: #2a2a2a;
}

.section[open] summary {
    background-color: #e9e9e9;
}

.options-group label {
    color: #373636;
}

.options-group select {
    border-color: #ccc;
    background-color: #f0f0f0;
    color: #2a2a2a;
}

.options-group select:focus {
    border-color: #e53935;
}

.options-group button[type="button"],
form button[type="submit"] {
    background-color: #e53935; 
    color: white;
}

form button[type="submit"]:hover {
    background-color: #c62828;
}

.toggle-switch .slider {
    background-color: #c62828;
}

.toggle-switch .slider:before {
    background-color: rgb(236, 236, 236);
}

.toggle-switch input:checked + .slider {
    background-color: #2e7d32;
}
